<div class = "container">
<h1>Listing All Reports</h1>

<table>
  <tr>
    <th>Reporter</th>
    <th>Reportee</th>
    <th>Reason</th>
    <th>Comment</th>
    <th>Delete Report</th>

    <th></th>
  </tr>

  <% @reports.each do |report| %>
    <% reporter = User.find_by_id(report.reporter_id)%>
    <% reportee = User.find_by_id(report.reportee_id)%>
  <tr>
    <% if reporter != nil %>
    <td><%=link_to "#{reporter.fname.capitalize} #{reporter.lname.capitalize}", user_path(reporter),style:"padding-right:1em" %></td>
    <%else%>
      <td style:"padding-right:1em" ><%= "Deleted User"%>&nbsp&nbsp&nbsp&nbsp</td>

    <%end%>
    <% if reportee != nil %>
    <td><%= link_to "#{reportee.fname.capitalize} #{reportee.lname.capitalize}", user_path(reportee),style:"padding-right:1em" %></td>
    <%else %>
        <td style:"padding-right:1em" ><%= "Deleted User"%>&nbsp&nbsp&nbsp&nbsp</td>
    <%end%>
    <td style:"padding-right:1em" ><%= "#{report.reason}"%>&nbsp&nbsp&nbsp&nbsp</td>

    <td style:"padding-right:1em"><%= "#{report.comment}"%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
   <td><%=link_to "Delete",report_user_path(id: report.id),method: :delete,style:"padding-right:1em" %></td>

  </tr>
  <% end %>
</table>
<div><%= link_to '< Back', user_path(current_user.id), class: "cta-alt"%></div>

</div>