
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
		<div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 login-border-style margin-bot-5 margin-top-2 shadow" style="background-color:white">
		  <%= link_to '', user_path(current_user), class:"close",title:"Cancel"%>
		  <br>
<h1 class="text-center"> Report Request</h1>
<hr class="hr-color"/>
<div style="padding:10px">
<h4>Please fill out this form to report the user: </h4> 

<div>
 <%= form_tag report_users_path(@reportUser), method: :post do %>
     <%= hidden_field_tag :reporter_id,current_user.id %>
     <%= hidden_field_tag :reportee_id, params[:reportee] %>
    <p>
      <%= label_tag'Select Reason for Report: ' %><br>
      	<%= select_tag(:reason, '<option value="Broken Item">Broken Item</option><option value="Missing Item">Missing Item</option><option value="Malicious User"> Malicious User</option><option value="Other">Other</option>'.html_safe,class:"form-control") %>
      	
    </p>
    <p>
      <%= label_tag 'Leave comment: ' %><br>
      <%= text_area_tag :comment,nil,class:"form-control",size:"50x10" %>
    </p>
    <p>
      <%= submit_tag "Submit Report", class:"cta"%>
    </p>
  <% end %>
</div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-1 col-xs-10"></div>
</div>
</div>