

<%#if @over_ten %>
 <%#= link_to ‘Show Previous’, ‘?m=all’ %>
<%# end %>
<div class="container margin-top-1">
  <div class="form-group row">
	  <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2"></div>
	  <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8 login-border-style shadow" style="background-color:white">
	 <%= link_to '', user_path(current_user), class:"close",title:"Cancel"%>
	 <% if @conversation.sender_id != current_user.id %>
	 	<% the_other = User.find(@conversation.sender_id)%>
	<% else %>
		<% the_other = User.find(@conversation.recipient_id)%>
	 <% end %>
	 <br>
	  <h3 class="text-center margin-bot-1"> Conversation with <%= the_other.fname.capitalize%> <%= the_other.lname.capitalize%></h3>
	  <hr class="hr-class"/>
	  
	  <div id="chat" class="" style="max-height:240px;padding:10px;overflow:auto">
 		 <% @messages.each do |message| %>
  	   	 	<% if message.body %>
  	   	 	<% user = User.find(message.user_id) %>
		

			<div>
       <div><strong><%= user.fname.capitalize %></strong> <%= message.message_time %></div>
     
       <div style="word-break:break-all;padding:6px;display:inline-block;padding:3px 10px 5px;border-radius:12px;margin-top:2px;margin-bot:12px;<%= user==current_user ? 'color:white;background-color:#3578e5' : 'color:black;background-color:#e9ebee'%>">
          <%= message.body %>
      </div>
  </div>
  		
 
 	   		<% end %>
		
	   <% end %>
	</div>

	<div class="margin-top-1 margin-bot-1" style="padding:5px 10px 10px 10px">
	<hr class="hr-class"/>
    <%= form_for [@conversation, @message] do |f| %>
      <%= f.text_field :body, :placeholder => "Type Message Here",class:"form-control", style:"width:50%;display:inline-block;border-color:#0099e5", id:"chat-box" %>
      <%= f.hidden_field :user_id, value: current_user.id%>
      <%= f.submit "Send Message",class:"hidden-xs hidden-sm hidden-md cta" %>
	  <%= button_tag '<i class="fas fa-comments"></i>'.html_safe,class:"hidden-lg cta" %>
    <% end %>
	</div>
</div>
	 <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2"></div>
</div>
</div>
<script>
	$(document).ready(function() {
	    $('#chat').animate({
	        scrollTop: $('#chat').get(0).scrollHeight
	    }, 0);
		$('#chat-box').focus()
	});
</script>