<% provide(:title, "Log in") %>

<div class="container margin-top-2">
	<%= form_for(:session, url: login_path) do |f| %>
    	<div class="form-group row">
			<div class="col-lg-4 col-md-3 col-sm-2 col-xs-2"></div>
      		<div class="col-lg-4 col-md-6 col-sm-8 col-xs-8 login-border-style margin-bot-5 shadow" style="background-color:white">
  			 	<%= link_to '', root_path, class:"close",title:"Cancel"%>
  			  	<br>
				<h3 class="text-center margin-bot-1"> Log In to A Cup of Sugar</h3>
				<% if flash[:failure] %>
	   	 			<div class="alert alert-danger text-center"><%= flash[:failure] %></div>
				<% elsif flash[:verification] %>
	   	 			<div class="alert alert-warning text-center"><%= flash[:verification] %></div>
	   	 		<% elsif flash[:success_msg] %>
	   	 			<div class="alert alert-success text-center"><%= flash[:success_msg] %></div>
	   	 		<% elsif flash[:failure_msg] %>
	   	 			<div class="alert alert-danger text-center"><%= flash[:failure_msg] %></div>
				<% end %>
				
		
				<%= f.label :email , class:"#{'error-text' if flash[:failure]}"%>
      		  	<%= f.email_field :email, class: "form-control margin-bot-1 #{'error-border' if flash[:failure]}" %>

      		 	<%= f.label :password, class:"#{'error-text' if flash[:failure]}"%> <%=link_to "Forgot your password?", new_password_reset_path,class:'pull-right font-14'%>
      		  	<%= f.password_field :password_digest, class: "form-control margin-bot-1 #{'error-border' if flash[:failure]}" %>
				
      		  	<%= f.submit "Log in", class: "btn btn-info margin-bot-1", style:"width:100%;" %>
				
	    		<%= link_to "Sign in with Facebook", "/auth/facebook", class: "btn btn-primary margin-bot-1",style:"width:100%;" %>
				<div class=" unified_signup__divider">
					<div class="line"></div>
					<div class="text font-18">or</div>
					<div class="line"></div>
				</div>
	    		<%= link_to "Sign up", "users/new",class: "btn btn-success margin-bot-2 margin-top-1",style:"width:100%;" %>
      	  	</div>
      		<div class="ol-lg-4 col-md-3 col-sm-2 col-xs-2"></div>
   		</div>
 	<% end %>
</div>