<div class="container margin-top-1">
	<div class="row">
		<div class="col-xs-1 col-sm-2 col-md-3"></div>
		<div class="col-xs-10 col-sm-8 col-md-6 login-border-style margin-bot-5 shadow" style="background-color:white;padding-left:2em;padding-right:2em">
			<h3 class="text-center margin-top-1" style="font-size:24px"> Reset Password </h3><br>
<% if flash[:failure_msg] %>
	<div class="alert alert-danger text-center"><%= flash[:failure_msg] %></div>
<% end %>
<%= form_for @user, :url => password_reset_path(params[:id]),class:"margin-bot-2" do |f| %>
<div class="field">
	<%= f.label :password %>
	<%= f.password_field :password,class:"form-control",style:"width:70%" %>
</div>
<div class="field">
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, class:"form-control",style:"width:70%" %>
</div>
<br>
<div class="actions"><%= f.submit "Update Password", class:"cta cta-background",style:"width:50%" %></div><br>
<% end %>
</div>
<div class="col-xs-1 col-sm-2 col-md-3"></div>
</div>
</div>
