<div class="container margin-top-2">
	<div class="row">
		<div class="col-xs-1 col-sm-2"></div>
		<div class="col-xs-10 col-sm-8 sticky-note scrollbar" style="max-height:400px">
		<div class="row margin-bot-1"><%= link_to '', user_path(current_user), class:"close",title:"Back to profile"%></div>
		<div class=”row”>
			<div class="col-xs-12 col-md-6 text-center">
				<h3>Your Conversations</h3>
				<% @conversations.each do |conversation| %>
				<% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
				<div class="margin-top-1 margin-bot-1">
  			  		<% if conversation.sender_id == current_user.id %>
     			   		<% recipient = User.find(conversation.recipient_id) %>
   					<% else %>
     			   		<% recipient = User.find(conversation.sender_id) %>
   					<% end %>
   				 	<%= link_to "#{recipient.fname.capitalize} #{recipient.lname.capitalize}", user_path(recipient)%>
					<%= button_to conversation_messages_path(conversation), form: {style:'display:inline-block;'}, method: :get,class:'cta hidden-xs hidden-sm hidden-md',title:'Check Conversations' do %>
					Check Conversation
					<% end %>
					<%= button_to conversation_messages_path(conversation), form: {style:'display:inline-block;'}, method: :get,class:'cta hidden-lg',title:'Check Conversations' do %>
					<i class="fas fa-comments"></i>
					<% end %>
					<br>
				</div>
   				<% end %>
 				<% end %>
			</div>
			<hr class="hidden-lg hidden-md hr-class hr-color"/>
			<div class="col-xs-12 col-md-6 text-center">
 			<h3>Your Friends</h3>
 	   		
  		  		<% current_user.friends.each do |user| %>
   		 		<% if user.id != current_user.id %>
				<div class="margin-top-1 margin-bot-1">
    					<%= link_to "#{user.fname.capitalize} #{user.lname.capitalize}", user_path(user) %>
						<%= button_to conversations_path(sender_id: current_user.id, recipient_id: user.id), form: {style:'display:inline-block;'}, method: :post,class:'cta hidden-xs hidden-sm hidden-md' do%>
						 Send Message
						<%end%>
						<%= button_to conversations_path(sender_id: current_user.id, recipient_id: user.id), form: {style:'display:inline-block;'}, method: :post,class:'cta hidden-lg',title:'Send Message' do %>
						<i class="fas fa-comment"></i>
						<% end %>
 		    			<br/>
					</div>
  		  		<% end %>
				<% end %>
 	  	
			</div>
		</div>
		</div>
		<div class="col-xs-1 col-sm-2"></div>
	</div>
</div>

