<div class="container"> 
	<div class="row">
		<div class="col-xs-0 col-sm-1"></div>
		<div class="col-xs-12 col-sm-10">
    <% if flash[:success_msg] %>
		<br>
        <div class="alert alert-success font-18"><%= flash[:success_msg] %></div>
    <%end%>
	<div class="page-header"><h1>You are receiving email notifications on...</h1></div>
	<br><br>
	<ul style="font-size:22px">
    <li > Borrow / due date extension requests from others: 
		<strong class=" <%= @notification.i_req_by_others ? 'notification-true' : 'notification-false' %>">
			<%= @notification.i_req_by_others.to_s.capitalize%>
		</strong>
	</li> 
	<br />
    <li> Approval for borrow / due date extension requests you sent: 
		<strong class=" <%= @notification.i_req_approval_alert ? 'notification-true' : 'notification-false' %>">
			<%= @notification.i_req_approval_alert.to_s.capitalize%> 
		</strong>
	 </li> 
	 <br />
     <li> Early due date alert for an item on hold: 
		 <strong class=" <%= @notification.i_due_alert ? 'notification-true' : 'notification-false' %>">
			 <%= @notification.i_due_alert.to_s.capitalize%>
		 </strong>
	 </li>
	 <br />
 </ul>
 
<div style="margin-left:2em"> 
  <%= button_to "Change preferences", edit_user_notification_path(params[:user_id], params[:id]), method: :get,class: "cta cta-background",form:{style:"display:inline-block;margin-right:1em"}%> <div class="font-18" style="display:inline-block	">or</div>
  <%= button_to "Back", user_path(params[:user_id]), method: :get, class: "cta",form:{style:"display:inline-block;margin-left:1em"}%>
</div>
<br>
  	<div class="col-xs-0 col-sm-1"></div>
</div>
</div>
