<div class="container margin-top-1">
<% provide(:title, "Edit user") %>

    <% if @user == @logged_in_user %>
      <%= form_for(@user) do |f| %>
	  <div class="form-group row">
		  <div class="col-lg-4 col-md-3 col-sm-2 col-xs-2"></div>
		  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-8 login-border-style margin-bot-5 shadow" style="background-color:white">
			  <%= link_to '', user_path(@user), class:"close",title:"Cancel"%>
			  <br>
			  <h3 class="text-center margin-bot-1"> Update your profile</h3>

        <%= f.label :fname, "First Name" %>
        <%= f.text_field :fname, class: 'form-control margin-bot-1' %>

        <%= f.label :lname, "Last Name" %>
        <%= f.text_field :lname, class: 'form-control margin-bot-1' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control margin-bot-1' %>

        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control margin-bot-1' %>

        <%= f.label :phonenum %>
        <%= f.text_field :phonenum, class: 'form-control margin-bot-1' %>



        <%= f.submit "Save changes", class: "btn btn-primary margin-bot-1", style:"width:100%;" %>
		</div>
		<div class="col-lg-4 col-md-3 col-sm-2 col-xs-2"></div>
	</div>
      <% end %>
    <% else %>
        <p> You are not authorized to view this page </p>
    <% end %>
</div>

