<div class = "container">
<h1>Listing All Users</h1>
 
<table>
  <tr>
    <th> User Name </th>
    <th>Email</th>
    <th>Phone </th>
    <th>Address</th>
    <th>Message User</th>
    <th>Delete User</th>
    <th></th>
  </tr>
 
  <% @users.each do |user| %>
      <% if user.id != current_user.id %>
    <tr>
      <td><%=link_to "#{user.fname.capitalize} #{user.lname.capitalize}", user_path(user),style:"padding-right:1em" %></td>
      <td style:"padding-right:1em" ><%= "#{user.email}"%>&nbsp&nbsp&nbsp&nbsp</td>
      <td style:"padding-right:1em" ><%= "#{user.phonenum}"%>&nbsp&nbsp&nbsp&nbsp</td>
      <td style:"padding-right:1em" ><%= "#{ user.address}"%>&nbsp&nbsp&nbsp&nbsp</td>
      <td><%= button_to conversations_path(sender_id: current_user.id, recipient_id: user.id), form: {style:'display:inline-block;'}, method: :post,class:'cta hidden-xs hidden-sm hidden-md' do%>
         Send Message
        <%end%>
        <%= button_to conversations_path(sender_id: current_user.id, recipient_id: user.id), form: {style:'display:inline-block;'}, method: :post,class:'cta hidden-lg',title:'Send Message' do %>
        <i class="fas fa-comment"></i>
        <% end %></td>
        <td><%= link_to 'Delete User', users_delete_path(:deleteid => user.id),style:"padding-right:1em"%> </td>


    </tr>
    <%end %>
  <% end %>
</table>

<div><%= link_to '< Back', user_path(@user.id), class: "cta-alt"%></div>

</div>