<% request_num = @user.requested_friends.length %>
<div style="font-size:21px" class="margin-bot-1"><i class="fas fa-bell"></i> Friend Requests <%="(#{request_num})"if request_num>0%> </div>

<% if request_num>0 %>
	<% request_list = @user.requested_friends %>
	<p> You have <%=pluralize(request_num, 'friend request') %> from the following 
	<%= if request_num<2 then'user' else 'users' end %> </p>
	<% for requirer in request_list%>
		<div>
			<%= link_to "#{requirer.fname.capitalize} #{requirer.lname.capitalize}", user_path(requirer) %> 
			<%= form_tag user_friendship_path(@user,id:1,:format => "js"), method: :put,style:'display:inline-block;',class:"hidden-xs hidden-sm hidden-md",remote: true, authenticity_token: true do %>
			  <%= hidden_field_tag :friend_requirer, requirer.id %>
			  <%= hidden_field_tag :friend_requiree, @user.id %>
			  <%= hidden_field_tag :decision, true %>
			  <%= button_tag 'Accept',class:'cta' %>
			<% end %>
			<%= form_tag user_friendship_path(@user,id:1,:format => "js"), method: :put,style:'display:inline-block;',class:"hidden-lg",remote: true, authenticity_token: true do %>
			  <%= hidden_field_tag :friend_requirer, requirer.id %>
			  <%= hidden_field_tag :friend_requiree, @user.id %>
			  <%= hidden_field_tag :decision, true %>
			  <%= button_tag'<i class="fas fa-check"></i>'.html_safe,class:'cta',title:"Accept Request" %>
			<% end %>
			<%= form_tag user_friendship_path(@user,id:1,:format => "js"), method: :put,style:'display:inline-block;', data: { confirm: "Are you sure to decline the friend request from #{requirer.fname} #{requirer.lname}?" }, class:"hidden-xs hidden-sm hidden-md",remote: true,authenticity_token: true do %>
			  <%= hidden_field_tag :friend_requirer, requirer.id %>
			  <%= hidden_field_tag :friend_requiree, @user.id %>
			  <%= hidden_field_tag :decision, false %>
			  <%= button_tag 'Decline',class:'cta' %>
			<% end %>
			<%= form_tag user_friendship_path(@user,id:1,:format => "js"), method: :put,style:'display:inline-block;', data: { confirm: "Are you sure to decline the friend request from #{requirer.fname} #{requirer.lname}?" }, class:"hidden-lg",remote: true,authenticity_token: true do %>
			  <%= hidden_field_tag :friend_requirer, requirer.id %>
			  <%= hidden_field_tag :friend_requiree, @user.id %>
			  <%= hidden_field_tag :decision, false %>
			  <%= button_tag '<i class="fas fa-times"></i>'.html_safe,class:'cta',title:"Decline Request" %>
			<% end %>
			<%= form_tag user_friendship_path(@user,id:1,:format => "js"), method: :put,style:'display:inline-block;', data: { confirm: "Are you sure to reject the friend request and block #{requirer.fname} #{requirer.lname}?" }, class:"hidden-xs hidden-sm hidden-md", remote: true,authenticity_token: true do %>
			  <%= hidden_field_tag :friend_requirer, requirer.id %>
			  <%= hidden_field_tag :blockee_id, requirer.id %>
			  <%= hidden_field_tag :friend_requiree, @user.id %>
			  <%= hidden_field_tag :decision, "block" %>
			  <%= button_tag 'Block',class:'cta' %>
			<% end %>
			<%= form_tag user_friendship_path(@user,id:1,:format => "js"), method: :put,style:'display:inline-block;', data: { confirm: "Are you sure to reject the friend request and block #{requirer.fname} #{requirer.lname}?" }, class:"hidden-lg", remote: true,authenticity_token: true do %>
			  <%= hidden_field_tag :friend_requirer, requirer.id %>
			  <%= hidden_field_tag :blockee_id, requirer.id %>
			  <%= hidden_field_tag :friend_requiree, @user.id %>
			  <%= hidden_field_tag :decision, "block" %>
			  <%= button_tag '<i class="fas fa-user-slash"></i>'.html_safe,class:'cta',title:"Block User" %>
			<% end %>
		</div>
		<hr style="border-top: 1px solid #7A7E81;">
	<% end %>
<% else %>
<div>There is no friend request.</div>
<% end %>
