<div style="font-size:21px" class="margin-bot-1"><i class="fas fa-search"></i> Search Result: </div> 
<% for user in @users%>
 	<div>
		<!--should be directed to user profile page later -->
		<% if not @user.blocked_friends.include?(user)%>
			<%= link_to "#{user.fname.capitalize} #{user.lname.capitalize}", user_path(user),style:"padding-right:1em" %>
			<% if user != @user%>
				<%= button_to conversations_path(sender_id: current_user.id, recipient_id: user.id), form: {style:'display:inline-block;'}, method: :post,class:'cta hidden-xs hidden-sm hidden-md' do%>
				 Send Message
				<%end%>
				<%= button_to conversations_path(sender_id: current_user.id, recipient_id: user.id), form: {style:'display:inline-block;'}, method: :post,class:'cta hidden-lg',title:'Send Message' do %>
				<i class="fas fa-comment"></i>
				<% end %>
				<% if @user.friends.include?(user) %> 
					<%= button_tag '<i class="fas fa-check"></i> Friends'.html_safe, class:'cta cta-background hidden-lg',disabled: true %>
					<%= button_tag '<i class="fas fa-user-friends"></i>'.html_safe, class:'cta cta-background hidden-xs hidden-sm hidden-md',title:"Friends",disabled: true %>  
				<% elsif not @user.pending_friends.include?(user)%> 
					<%= button_to user_friendships_path(@user,friend_requirer: @user, friend_requiree:user,name: params[:name],:format => "js"), form: {style:'display:inline-block;'}, class:'cta hidden-xs hidden-sm hidden-md',remote: true, authenticity_token: true do%>
					 Add Friend 
					<%end%>
					<%= button_to user_friendships_path(@user,friend_requirer: @user, friend_requiree:user,name: params[:name],:format => "js"), form: {style:'display:inline-block;'}, class:'cta hidden-lg',remote: true, authenticity_token: true,title:"Add Friend" do%>
					<i class="fas fa-user-plus"></i>
					<%end%>
					
						 
				<% else%> 
					<%= button_tag '<i class="fas fa-check"></i> Request Sent'.html_safe, class:'cta cta-background hidden-xs hidden-sm hidden-md',disabled: true %>
					<%= button_tag '<i class="fas fa-check"></i>'.html_safe, class:'cta cta-background hidden-lg',disabled: true,title:"Friend Request Sent" %>
				<% end %>
				<%= button_to new_report_user_path, :params => { :reportee =>user.id} ,class:"cta hidden-xs hidden-sm hidden-md", form: {style:'display:inline-block;'}, method: :get do%>
				Report User
				<% end %>
				<%= button_to new_report_user_path, :params => { :reportee =>user.id} ,class:"cta hidden-lg", form: {style:'display:inline-block;'}, method: :get, title:"Report User" do%>
				<i class="fas fa-exclamation"></i>
				<% end %>
				<!-- check if admin -->
				<% if @user.admin == true %>
				<%= link_to 'Delete User', users_delete_path(:deleteid => user.id)%>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<hr style="border-top: 1px solid #7A7E81;">
<%end%>

