<h1>Review the item and lender</h1>

<% if flash[:failure_msg]%>
  <div class="alert alert-danger">
    <% @review_lender.errors.each do |error| %>
      <p class="text-center"><%= error %></p>
    <% end %>
  </div>
<% end %>

<div id="item_profile">
	<% owner = User.find(@item.user_id)%>
	<p>Lender: <%= owner.fname %> <%= owner.lname %></p> <!-- should go to user profile page -->
	<p>Item: <%= @item.name %></p>
	<%= render partial: 'items/item_profile' %>
</div>

<p>Note: please fill out this review form after returning the item.</p>
<div>
  <%= form_with(model: [@user, @review_lender], local: true) do |form| %>
     <%= form.hidden_field(:user_id, :value => @user.id) %>
     <%= form.hidden_field(:item_id , :value => @item.id) %>
     <%= form.hidden_field(:lender_id , :value => @item.user_id) %>
    <div class="form-group">
      <label>Rate item/lender</label>
      <div class="rating-form-ild">
      <%#= form.label 'Rate item/lender: ' %>
      <%#= form.number_field :rating %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label 'Leave comment: ' %><br>
      <%= form.text_area :comment , class: "form-control" %>
   </div>
     <div class="form-group">
      <%= form.submit "Submit review", class: "cta-alt cta-background"%>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Cancel", user_items_path(@user.id), class: "cta-alt"%>
</div>

<script>
  $('.rating-form-ild').raty({
      //path: '/assets/',
      scoreName: 'review_lender_and_item[rating]',
      size: 24
    });
</script>