<div class="panel panel-default">
      <div class="panel-heading">
          <a data-toggle="collapse" href="#item_borrowed"><h4 class="text-uppercase">Borrowed items<h4></a>
      </div>
      <div id="item_borrowed" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="table-responsive">
        <% if @borrowed_items.length > 0 %>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Item name</th>
            <th>Description</th>
            <th>Due date</th>
            <th>Contact owner</th>
            <th colspan="2">Action/Status</th>
          </tr>
        </thead>
        <tbody>
          <% @borrowed_items.each do |item| %>
            <% @owner = User.find(item.i_uid) %>
            <tr>
              <td><%= link_to item.name, item_path(item.item_id), class: "btn-link" %></td>
              <td><%= item.descr %></td>
              <td><%= item.due_date.strftime("%Y-%m-%d") %></td>
              <td><%= button_to "#{@owner.fname} #{@owner.lname}", conversations_path(sender_id: @user.id, recipient_id: @owner.id), method: "post", class: "btn-link" %></td> <%# link to user profile OR invoke messanger %>
              <%if item.returned_on == nil%>
              <td>
                <%= link_to 'Confirm return', new_user_review_lender_and_item_path(user_id: @user.id, item_id: item.item_id, lender_id: @owner.id), class: "cta-alt cta-background"%><br/>
                <%if item.approved == nil %><%= link_to 'Send due date extension', edit_user_borrowed_item_path(user_id: @user.id, id: item.item_id), class: "cta-alt cta-background"%>
                <%elsif item.approved != "Approved" %> due date extension <%= item.approved.downcase %>
                <%end%>
                </td>
              <% else %>
                <td colspan="2">
                  Lender has not confirmed your return yet
                </td>
              <%end%>
            </tr>
          <% end %>
          </tbody> 
        </table>
        <% else %>
          <p>You don't have any borrowed items</p>
        <%end%>
        </div>
      </div>
    </div>
</div>