<div class="container" style="width:70%;float:left">
   <%= form_for([ @user, @on_hold_item ]) do |form| %>
    <div class="form-group">
      <%= form.label 'I would like to borrow this item until:' %><br>
      <%= form.date_field(:due_date, min: Date.today, class: "form-control") %>
      <%= form.hidden_field(:user_id, :value => @user.id) %>
      <%= form.hidden_field(:item_id , :value => @item.id) %>
      <%= form.hidden_field(:req_on, :value => Time.now.strftime('%d/%m/%Y')) %>
      <%= form.hidden_field(:from, :value => 'itemIndex') %>
    </div>
    <p>
      <%= form.submit "Send borrow request", class: "cta-alt cta-background"%>
    </p>
  <% end %>
</div>
