  <%= form_with(model: [ @user, @item ], local: true) do |form| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="text-uppercase">Basic item information<h4>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= form.label :name %><br>
          <%= form.text_field :name, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= form.label :images %><br>
          <%= form.file_field :images, multiple: true, class: "form-control"  %>
       </div>
       <div class="form-group">
          <%= form.label :description %><br>
          <%= form.text_area :descr, class: "form-control" %>
       </div>
        <div class="form-group">
            <%= form.label :category %><br>
            <%= form.select :category, [['Accesories', 'Accesories'],
        		['Art', 'Art'], ['Bath', 'Bath'],['Beauty', 'Beauty'],['Books', 'Books'], ['Clothing', 'Clothing'], ['Craft Supplies', 'Craft Supplies'],
        		['Electronics', 'Electronics'], ['Films', 'Films'], ['Games','Games'],['Home','Home'],['Living','Living'], ['Music','Music'], ['Office Tools','Office Tools'], ['Pet Supplies', 'Pet Supplies'],
            ['Tools','Tools'],['Toys', 'Toys']], {include_blank: "- Select a category -"}, class: "form-control" %>
        </div>
        <div class="form-group">
           <%= form.label "Preferred location of transaction: " %><br>
           <%= form.select :address, [['Brampton', 'Brampton'],['Hamilton','Hamilton'],['Kitchener', 'Kitchener'],['London', 'London'], ['Markham', 'Markham'],
         ['Mississauga', 'Mississauga'], ['Ottawa', 'Ottawa'], ['Toronto','Toronto'],['Vaughan', 'Vaughan'],
         ['Windsor', 'Windsor']], {include_blank: "- Select a city -"}, class: "form-control" %>
       </div>
       <div class="form-group">
          <%= form.label :street %><br>
          <%= form.text_field :street, class: "form-control"%>
        </div>
      </div>
    </div>
    <p><%= form.submit class: "btn btn-primary", style:"width:100%;" %></p>
    <p><%= link_to "Cancel", user_items_path(@user), class: "btn btn-default", style:"width:100%;" %></p>
  <% end %>
