<div class="container">
<div class="page-header"><h1>Manage Items</h1></div>
<% if flash[:success_msg] %>
	<div class="alert alert-success"><%= flash[:success_msg] %></div>
<% elsif flash[:alert] %>
	<div class="alert alert-danger"><%= flash[:alert] %></div>	
<% elsif flash[:failure_msg]%>
	<div class="alert alert-danger">
    	<% if @wish_item && @wish_item.errors.any?%>
		    <% @wish_item.errors.each do |attr,error| %>
		      <p class="text-center"><%= error %></p>
		    <% end %>
	    <% elsif @borrowed_item && @borrowed_item.errors.any?%>
		    <% @borrowed_item.errors.each do |attr,error| %>
		      <p class="text-center"><%= error %></p>
		    <% end %>
		<% elsif @item && @item.errors.any?%>
		    <% @item.errors.each do |attr,error| %>
		      <p class="text-center"><%= error %></p>
		    <% end %>
		<% elsif @on_hold_item && @on_hold_item.errors.any?%>
		    <% @on_hold_item.errors.each do |attr,error| %>
		      <p class="text-center"><%= error %></p>
		    <% end %>
	    <%end%>
  	</div>
<%end%>
<div class="panel-group">
	<%= render  "items/show_user_items" %>

	<%= render  "items/lend_items" %>

	<%= render  "items/borrowed_items" %>

	<%= render  "items/on_hold_items" %>

	<%= render  "items/transaction_history" %>

	<%= render  "items/wish_items" %>
	
	<br>
	<%= button_to 'Back', user_path(@user),class:"cta",method: :get,title:"Back to profile"%>
</div>
</div>