<%= form_tag('/items', method: :get) do %>
    <%= text_field_tag :name, params[:name], placeholder: "Search item" %>

    <%= submit_tag 'Search ', name: nil %>
<% end %>
<% if not @items.present? %>
	<% if params[:name].present? and @items.blank?%>
		<div>
			We couldn't find any items for
			<span>	<%=params[:name] %> </span>
		</div>
	<% end %>
  <% end %>

  <% @items.each do |item| %>
    <% if !item.disable %>
    <ul>
      <li> <%= link_to item.name, item_path(item) %> </li> <br>
    </ul>
    <% end %>
  <% end %>

  <h2>Filters</h2>


    <% if @aggs.aggs["status"].present? and @aggs.present? %>
          <span>Status</span>
          <ul  class="menu">
          <% @aggs.aggs["status"]["buckets"].each do |filter| %>
            <li><%= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/items?status=#{filter["key"]}"%></li>
          <% end %>
          </ul>
      <% end %>

      <% if @category_aggs.aggs["category"].present? and @category_aggs.present? %>
            <span>Category</span>
            <ul  class="menu">
            <% @category_aggs.aggs["category"]["buckets"].each do |filter| %>
              <li><%= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/items?category=#{filter["key"]}"%></li>
            <% end %>
            </ul>
        <% end %>
