<div class="panel panel-default">
      <div class="panel-heading">
          <a data-toggle="collapse" href="#item_history"><h4 class="text-uppercase">Item transaction history<h4></a>
      </div>
      <div id="item_history" class="panel-collapse collapse in">
      <div class="panel-body">
          <% if @transaction_items.length > 0 %>
            
        <div class= "table-responsive">
        <% if @trans_lent.length > 0 %>
        <div class="page-header text-uppercase"><h5>Lent history</h5></div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Item name</th>
            <th>Due date</th>
            <th>Return date</th>
            <th>Borrower</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <% @trans_lent.each do |item| %>
            <% borrower = User.find(item.other_user_id) %>
            <% this_item = Item.find(item.item_id) %>
            <tr>
              <td><%= this_item.name %></td> 
              <td><%= item.due_date.strftime("%Y-%m-%d") %></td>
              <td><%= item.returned_on.strftime("%Y-%m-%d") %></td>
              <td><%= "#{borrower.fname} #{borrower.lname}" %></td> <%# link to user profile? %>
              <td><%= link_to 'view review', user_review_borrower_path(user_id: @user.id, id: item.item_id, review_id: item.review_borrower_id), class: "cta-alt cta-background" %></td> 
            </tr>
          <% end %>
          </tbody> 
        </table>
        <% end %>
        <% if @trans_borrow.length > 0 %>
        <div class="page-header text-uppercase"><h5>Borrow history</h5></div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Item name</th>
            <th>Due date</th>
            <th>Return date</th>
            <th>Lender</th>
            <th>Review</th>
          </tr>
          </thead>
          <tbody>
          <% @trans_borrow.each do |item| %>
            <% lender = User.find(item.other_user_id) %>
            <% this_item = Item.find(item.item_id) %>
            <tr>
              <td><%= this_item.name %></td> 
              <td><%= item.due_date.strftime("%Y-%m-%d") %></td>
              <td><%= item.returned_on.strftime("%Y-%m-%d") %></td>
              <td><%= "#{lender.fname} #{lender.lname}" %></td> <%# link to user profile? %>
              <td><%= link_to 'view review', user_review_lender_and_item_path(user_id: @user.id, id: item.item_id, review_id: item.review_lender_and_item_id), class: "cta-alt cta-background" %></td> 
            </tr>
          <% end %>
          </tbody> 
        </table>
        <% end %>
        </div>
		<% end %>
        <% if @transaction_items.length == 0 %>
          <p>You don't have any item transaction history</p>
        <%end%>
      </div>
    </div>
  </div>