
<h2>All Items belonging to users</h2>

<%if @items != nil %>
 <% @users.each do |user| %>
<%=link_to "#{user.fname.capitalize} #{user.lname.capitalize}", user_path(user),style:"padding-right:1em" %>
<div class="table-responsive">
<% @user_items = @items.where("items.user_id = ? and items.disable = false",user.id) %>
<% if @user_items.length > 0 %>
<table class="table">
  <thead>
  <tr>
    <th>Item name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Category</th>
    </tr>
  </thead>
  <tbody>
  <% @user_items.each do |item| %>
    <tr>
      <td><%= link_to item.name, item_path(item) %></td>
      <td><%= item.descr %></td>
      <td><%= item.status %></td>
      <td><%= item.category %></td>
      <td><%= button_to 'delete', user_item_delete_item_path(user.id, item.id), method: :put,
                    data: { confirm: 'Are you sure?'}, class: "cta-alt cta-background",form:{style:"display:inline-block;margin-right:1em"} %></td>
      <!--add item.return_date column to db for lentout items-->
    </tr>
  <% end %>
  </tbody>
</table>
<%else%>
  <p>No items registered yet</p>
<%end%>
</div>
<% end %>
<%else%>
    <p>No items registered yet</p>
<%end%>



<div><%= link_to '< Back', user_path(@user.id), class: "cta-alt"%></div>