<div class="container">

<% if flash[:success_msg] %>
	<div class="alert alert-success"><%= flash[:success_msg] %></div>
<% elsif flash[:failure_msg]%>
  <div class="alert alert-danger">
    <% if @wish_item.errors.any?%>
	    <% @wish_item.errors.each do |attr,error| %>
	      <p class="text-center"><%= error %></p>
	    <% end %>
    <% elsif @wish_item.errors.any?%>
	    <% @on_hold_item.errors.each do |attr,error| %>
	      <p class="text-center"><%= error %></p>
	    <% end %>
	<%end%>
  </div>
<% end %>
<% @owner = User.find(@item.user_id)%>
<div class="panel panel-default">
      <div class="panel-heading">
          <h2 class="text-uppercase"><%= @item.name %></h2> <span class="img-responsive rating-display" data-score="<%= @reviews.average(:rating).to_i %>"></span>
      </div>
      <div class="panel-body">

		<p>
			<div><h4>Owner: <%= "#{@owner.fname} #{@owner.lname}" %> </h4>
				<%if @user != current_user %><%= button_to "contact" ,conversations_path(sender_id: @user.id, recipient_id: @owner.id), method: "post", class: "cta-alt", form: {style:'display:inline-block;'} %> <% end %></div>

		</p> <!-- should link to message -->

		<!-- item profile here -->
		<div id="item_profile">
			<%= render partial: 'item_profile' %>
		</div>

		<!-- only allow other users to wishlist/send borrow request -->
		<div id="user_actions">
			<%= render partial: 'user_actions_for_item' %>
		</div>
		<!-- show all reviews for this item from borrower -->
		<div id="review_sections" >
			<%= render partial: 'review_lender_and_items/item_reviews_from_borrower' %>
		</div>
	</div>
</div>
<p><%= link_to '< To search items', items_path, class: "cta-alt" %></p>
<%if session[:user_id] && session[:user_id] == @user.id%>
<p><%= link_to '< To manage items' , user_items_path(@user.id), class: "cta-alt"%></p>
<%end%>
</div>